.scroll-top {
    position: fixed;
    right: 90px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    background-color: #47991f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: #170424;
    }
}