.header{
    // height: 80px;
    // display: flex;
    // justify-content:center;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        .top{
            display: flex;
            justify-content: space-between;
        }
        .bottom{
            width: 70%;
            padding-top: 20px;
            
        }
    }
}