.home__slider {
    position: relative;
    width: 100%;
    height: 80%;
}

.slides {
    width: 100%;
    height: 100%;
}

.slide {
    border: none;
}

.slide__image-card {
    width: 100%;
    height: 100%;

    img {
        margin-bottom: -5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slides-nav {
    position: absolute;
    text-align: center;
    left: 50%;
    right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 16px;
    width: auto;
    background: #fff;
    padding: 4px;
    border-radius: 9px;
    transform: translateX(-50%);
    z-index: 10;
}

.swiper-nav-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #e0e0e0;
    opacity: 1;
    transition: background 0.12s;
}
